html {background-color: white;}
body {
	font-family: Arial, Helvetica, sans-serif;
    	font-size: 100%;
}


main {
	clear: left;
}


header img {
	float: left;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3{
	font-size: 130%;
	font-sstyle: italic;
	text-indent: 30px; 
}

footer p {
	text-align: center;
}




